* {
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.menu {
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 1%;
    width: 100%;
    text-align: center;
  }

#text {
    visibility: hidden;
    font-size: 32px;
}